:root {
    --color-text : rgb(236, 236, 236);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.card {
    font-family: 'Poppins';
    width: 130px;
    height: 200px;
    background: url('../media/images/badge_total_rush.webp') no-repeat center/cover;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    color: var(--color-text);
    text-align: center;
    overflow: hidden;
}

.photo {
    width: 169px;
    height: 80px;
    border-radius: 10%;
    overflow: hidden;
    position: relative;
    top: 24.5%;
    left: -17%;
}

.photo img {
    width: 100%;
    height: 100%;
}

#name-place {
    display: flex;
    justify-content: center;
    font-size: 9px;
    font-weight: bold;
    position: absolute;
    top: 61.5%;
    margin: 5px 0;
    width: 100%;
}

.name{
    display: flex;
    justify-content: center;
}

.position {
    font-size: 8px;
    font-weight: bold;
    margin-bottom: 10px;
    position: absolute;
    top: 29%;
    left: 13.5%;
}

.rat-rate {
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 18%;
    left: 9%;
}

.flag{
    position: absolute;
    top: 20.5%;
    left: 80%;
    width: 15px;
    height: 15px;

}

.logo {
    position: absolute;
    top: 20.5%;
    left: 66%;
    width: 15px;
    height: 15px;

}

.stats {
    display: flex;  
    width: 90%;
    position: absolute;
    top: 71%;
    left: 13%;

}

#stats-1 {
    flex: 1;
}

.line-img {
    width: 24.5px;
    position: absolute;
    top: 0%;
    left: 31%;

}

#stats-2 {
    flex: 1;
}

.content-stats {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    text-align: left;
    font-size: 5.5px;
    font-weight: bold;
    position: relative;
}
